In [ ]:
def bfs(graph,start):
  visited=[]
  queue = []
  queue =[start]
  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours:
        queue.append(neighbour)
  return visited

In [ ]:
graph = {'amin' : ['wasim','nick','mike'],
         'wasim' : ['imran','amin'],
         'imran' : ['wasim','faras'],
         'faras' : ['imran'],
         'mike' : ['amin'],
         'nick' : ['amin']
}

In [ ]:
bfs(graph,'amin')

['amin', 'wasim', 'nick', 'mike', 'imran', 'faras']

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras

bfs(graph, 'amin')

['amin', 'wasim', 'nick', 'mike', 'imran', 'faras']

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras

bfs(graph, 'wasim')

['wasim', 'imran', 'amin', 'faras', 'nick', 'mike']

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras

bfs(graph, 'faras')

['faras', 'imran', 'wasim', 'amin', 'nick', 'mike']

In [ ]:
graph = {'0' : ['9','7','11'],
         '9' : ['8','10','0'],
         '7' : ['6','3','0','11'],
         '8' : ['1','12','9'],
         '6' : ['5'],
         '12' : ['2'],
         '3' : ['2','4'],
         '5' : ['6'],
         '4' : ['3'],
         '10' : ['9','1'],
         '11' : ['0','7'],
         '1' : ['10','8'],
         '2' : ['12','3']
        }

In [ ]:
bfs(graph,'0')

['0', '9', '7', '11', '8', '10', '6', '3', '1', '12', '5', '2', '4']

In [ ]:
graph = {'rektor' : ['warek1','warek2'],
         'warek1' : ['warek2','rektor'],
         'warek2' : ['kaprodi1','kaprodi2','kaprodi3','rektor'],
         'kaprodi1' : ['dosenA','dosenB','dosenC','warek2'],
         'kaprodi2' : ['dosenD','dosenE','warek2'],
         'kaprodi3' : ['dosenF','dosenG','warek2'],
         'dosenG' : ['kaprodi3'],
         'dosenF' : ['kaprodi3'],
         'dosenD' : ['kaprodi2'],
         'dosenE' : ['kaprodi2'],
         'dosenA' : ['kaprodi1'],
         'dosenB' : ['kaprodi1'],
         'dosenC' : ['kaprodi1']
        }

In [ ]:
bfs(graph,'rektor')

['rektor',
 'warek1',
 'warek2',
 'kaprodi1',
 'kaprodi2',
 'kaprodi3',
 'dosenA',
 'dosenB',
 'dosenC',
 'dosenD',
 'dosenE',
 'dosenF',
 'dosenG']

In [ ]:
def dfs(visited, graph, node):
  if node not in visited:
    print(node)
    visited.add(node)
    for neighbour in graph[node]:
      dfs(visited, graph, neighbour)

In [ ]:
graph = {'amin' : ['wasim','nick','mike'],
         'wasim' : ['imran','amin'],
         'imran' : ['wasim','faras'],
         'faras' : ['imran'],
         'mike' : ['amin'],
         'nick' : ['amin']
}

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras
visited = set()
dfs(visited, graph, 'amin')

amin
wasim
imran
faras
nick
mike

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras
visited = set()
dfs(visited, graph, 'wasim')

wasim
imran
faras
amin
nick
mike

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras
visited = set()
dfs(visited, graph, 'faras')

faras
imran
wasim
amin
nick
mike

In [ ]:
# o amin ---------------------
# |             |           |
# o wasim    o nick     o mike
# |
# o imran
# |
# o faras
visited = set()
dfs(visited, graph, 'nick')

nick
amin
wasim
imran
faras
mike

In [ ]:
graph = {'rektor' : ['warek1','warek2'],
         'warek1' : ['warek2','rektor'],
         'warek2' : ['kaprodi1','kaprodi2','kaprodi3','rektor'],
         'kaprodi1' : ['dosenA','dosenB','dosenC','warek2'],
         'kaprodi2' : ['dosenD','dosenE','warek2'],
         'kaprodi3' : ['dosenF','dosenG','warek2'],
         'dosenG' : ['kaprodi3'],
         'dosenF' : ['kaprodi3'],
         'dosenD' : ['kaprodi2'],
         'dosenE' : ['kaprodi2'],
         'dosenA' : ['kaprodi1'],
         'dosenB' : ['kaprodi1'],
         'dosenC' : ['kaprodi1']
        }

In [ ]:
visited = set()
dfs(visited, graph, 'rektor')

rektor
warek1
warek2
kaprodi1
dosenA
dosenB
dosenC
kaprodi2
dosenD
dosenE
kaprodi3
dosenF
dosenG

In [ ]:
kalo bfs dia barisnya mendatar, sedangkan dfs barisnya menurun
dan bfs ketika kita menampilkan output dia tidak beerurutan
sedangkan dfs ketika kita menampilkan ouput dia berurutan sesuai data dar